
.box {
    padding: 8% 8% 10% 10%;
}

.box-inside {
    padding: 5% 0 5% 8%;
}

.text-about {
    font-family: "Poppins Medium";
    color: white;
    font-size: clamp(0.9rem, 0.9vw, 2rem); 
    margin-top: 3%;
}

.text-main {
    font-family: "Atari Classic Regular";
    color: white;
    font-size: clamp(0.7rem, 2vw, 2rem); 
}

.text-timeline {
    text-align: center;
/*     grid-template-columns: repeat(3, 1.2fr);
    grid-auto-rows: 45%;
    column-gap: 20px;
    row-gap: 20px; */
}

div ol {
    font-family: "Pixel Coleco Regular";
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    font-weight: 500;
}

ol li {
    font-family: "Poppins Medium";
    font-size: clamp(0.8rem, 1vw, 2rem);
    line-height: 1.8em;
}

.image-about {
    width: 80%;
    height: 80%;
}